.Corusell{
    display: flex;
    overflow-x: auto;
    gap:50px;
    scroll-snap-type: x mandatory;
}

.Parish,.Italy,.Spain,.Japan,.Germany {
    border: 5px solid black;
    height: 500px;
    width: 500px;
}